@charset "UTF-8";
/*
 *  Restaurate 2016-10-25
 *  © Eric Zakariasson
 */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat");
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Black.eot");
  src: url("./fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-ExtraLight.eot");
  src: url("./fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Bold.eot");
  src: url("./fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Light.eot");
  src: url("./fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Thin.eot");
  src: url("./fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-ExtraBold.eot");
  src: url("./fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Medium.eot");
  src: url("./fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-SemiBold.eot");
  src: url("./fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.loading img {
  animation: loadingIcon 2s infinite; }

@keyframes loadingIcon {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.bold {
  font-weight: 600;
  color: inherit; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2em; }

.input, .textarea {
  padding: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: 0.5s all; }

.textarea {
  width: 100%;
  padding: 0;
  font-family: 'Crimson Text', serif !important;
  min-height: 5em;
  border: none; }

.select {
  padding: 0.5em 0.75em 0.5em 1em;
  border-radius: 1000px;
  background: none;
  outline: none;
  border: 2px solid #000;
  font-weight: 700;
  font-size: 1em;
  width: 5em;
  appearance: none; }
  .select option {
    font-size: 1em; }

.add-rate-select-arrow {
  position: absolute;
  left: 3.5em;
  top: 50%;
  transform: translateY(-50%); }
  .add-rate-select-arrow .arrow {
    width: 10px;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition: 0.5s cubic-bezier(0.05, 1.51, 0.63, 0.86); }
  .add-rate-select-arrow .arrow-left {
    transform: translate(-6px, 0px) rotate(45deg); }
  .add-rate-select-arrow .arrow-right {
    transform: translate(0px, 0px) rotate(-45deg); }

.arrow-active .arrow-left {
  transform: translate(-6px, 0px) rotate(0deg); }

.arrow-active .arrow-right {
  transform: translate(0px, 0px) rotate(0deg); }

.visible {
  display: flex; }

.hidden {
  display: none !important; }

.button {
  border-radius: 100px;
  background: none;
  border: 2px solid #000;
  outline: none;
  transition: 0.15s ease-in-out;
  color: #000;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  cursor: pointer; }

.button a {
  color: inherit;
  text-decoration: none;
  display: block; }

.button:hover {
  background: #000;
  color: #FFF; }

.button:active {
  background: #000;
  color: #FFF; }

.button-white {
  border-color: #FFF;
  padding: 0.75em 1.5em;
  color: #FFF;
  text-transform: uppercase; }

.button-white:hover {
  background: #FFF;
  color: #000; }

.button-black {
  padding: 0.75em 1.5em; }

.button-cta {
  background: #000;
  color: #FFF;
  padding: 1em 2em;
  letter-spacing: 0.1em;
  font-size: 1em; }

.button-cta:hover {
  transform: scale(1.01); }

.button-cta:active {
  transform: scale(0.99); }

.save-success {
  background-color: #03ad45;
  border-color: #03ad45;
  transition: 0.15s ease-in-out;
  color: #FFF; }
  .save-success:hover {
    background-color: #03ad45; }

.button-price {
  cursor: pointer;
  background: #FFF !important;
  color: #000 !important;
  transition: 0.15s ease-in-out; }

.button-price:hover {
  background: #000 !important;
  color: #FFF !important; }

.button-price-active {
  background: #000 !important;
  color: #FFF !important; }

.button-add-info {
  padding: 0.75em 1.5em;
  margin: 5px 0; }

/* Gör knappen rund */
.button-add-category {
  padding: 0.85em 1em; }

.button-save-ratings {
  display: block;
  margin: 0 auto; }

.button-delete {
  padding: 0.75em 1.5em;
  border-color: red;
  color: red; }
  .button-delete:hover {
    background-color: red;
    color: #FFF; }

.button-sort {
  padding: 0.5em 1em; }

.social-login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .social-login-buttons {
      width: 50%; } }

.button-login-social {
  font-weight: 700;
  background: #FFF;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0.25em 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; }

.button-login-social span {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.button-login-social-icon {
  width: 32px;
  margin: 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25); }

.button-google {
  background-color: rgba(255, 255, 255, 0.54);
  color: rgba(0, 0, 0, 0.54); }

.button-google img {
  box-shadow: none; }

.button-facebook {
  background-color: #3b5998;
  color: #FFF;
  margin: 1em 0; }

.button-twitter {
  background-color: #1da1f2;
  color: #FFF; }

.logo-bottom {
  margin: 4em 0 2em 0;
  width: 5em; }

main > div {
  margin: 0 auto;
  max-width: 1100px;
  padding: 2em;
  min-height: calc(100vh - 9.5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

h1, h2, h3, h4, h5, h6, span, a, input, textarea, li, button, div, option, select {
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  line-height: 1em; }

p {
  font-family: 'Crimson Text', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem; }

.h1 {
  font-size: 2em;
  line-height: 3rem;
  width: 100%; }

.h1-light {
  font-weight: 400; }

.h2 {
  font-size: 2em;
  margin-bottom: 1rem; }

header, footer {
  background: rgba(0, 0, 0, 0.05);
  padding: 0 2em; }

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  height: 3.5em; }

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    header ul {
      justify-content: flex-end; } }

header ul li {
  display: block;
  line-height: 3.5em; }

header .logo {
  width: 1.8em;
  vertical-align: middle;
  position: relative; }

.menu-item {
  display: none; }
  @media screen and (min-width: 768px) {
    .menu-item {
      display: flex;
      align-items: center;
      height: 3.5em;
      margin-left: 2em; } }

.menu-item.account .active {
  border-color: rgba(0, 0, 0, 0.5); }

.menu-item.account a {
  color: rgba(0, 0, 0, 0.5); }

.menu-item a {
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 5px 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.15s ease-in-out; }
  .menu-item a:hover:before {
    transform: scaleX(1); }
  .menu-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: 0.15s ease-in-out; }

.active:before {
  transform: scaleX(1) !important; }

header .menu-icon {
  height: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

header .menu-icon span {
  width: 1.7em;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 3px 0;
  transform: skew(-10deg) translate(0) rotate(0deg);
  transition: 0.5s; }

.active .menu-icon-top {
  transition: 0.5s;
  transform: translateY(4px) rotate(45deg); }

.active .menu-icon-bot {
  transition: 0.5s;
  transform: translateY(-4px) rotate(-45deg); }

.mobile-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  transition: 0.75s;
  overflow: hidden;
  z-index: 100; }

.mobile-menu-active {
  display: flex;
  transition: 0.75s;
  height: calc(100% - 3.5em); }

.mobile-menu ul {
  flex-direction: column;
  align-items: center; }

.mobile-menu ul li {
  display: block;
  margin-top: 2em;
  text-align: center; }

.mobile-menu ul li a {
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  vertical-align: middle;
  transition: 0.1s ease-in-out;
  margin: 0; }

.mobile-menu ul li a:hover {
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  transition: 0.1s ease-in-out; }

.mobile-menu .button {
  margin: 4em 0; }

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center; }

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0; }

footer div a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  margin-bottom: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 500; }

footer div span {
  font-size: 0.6em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.home {
  background-size: cover;
  background-position: 20% 50%;
  background-color: #FFF;
  color: #FFF;
  align-items: center;
  max-width: 100%; }

.home-container {
  max-width: 1100px;
  padding: 0;
  min-height: calc(100vh - 9.5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.home-auth {
  display: block;
  background-size: cover;
  background-position: 0% 50%;
  background-color: #FFF;
  color: #FFF;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%; }
  .home-auth .home-auth-container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 13.5em); }
  .home-auth .home-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .home-auth .home-dashboard {
        flex-direction: row; } }
    .home-auth .home-dashboard > section {
      padding: 2em;
      margin: 1em 0;
      border: 3px solid #FFF; }
      @media screen and (min-width: 768px) {
        .home-auth .home-dashboard > section {
          margin: 1em; } }
      .home-auth .home-dashboard > section button {
        border-color: #FFF;
        color: #FFF; }
        .home-auth .home-dashboard > section button:hover {
          background-color: #FFF;
          color: #000; }
    .home-auth .home-dashboard .home-user {
      padding: 2em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: flex-start; }
      @media screen and (min-width: 768px) {
        .home-auth .home-dashboard .home-user {
          width: 33%; } }
      .home-auth .home-dashboard .home-user .home-user-name {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2em; }
      .home-auth .home-dashboard .home-user .home-user-review-count {
        font-size: 1.2em;
        font-weight: 500; }
      .home-auth .home-dashboard .home-user .button {
        margin-top: 2em;
        align-self: center; }

.home-welcome {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #FFF; }
  .home-welcome h1 {
    font-weight: 400;
    border-bottom: 3px solid #FFF;
    padding: 1em; }

.info {
  margin: 1em 0;
  width: 100%; }

.article {
  margin: 2em 0;
  flex-direction: column; }

.home-article h2 {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase; }

.home-articles {
  display: flex;
  flex-direction: column; }

.review-ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0 2em 0;
  width: 100%; }

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em 0em;
  text-transform: uppercase; }

.section-border {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000; }

.add-info-location {
  font-size: 1.2em; }
  .add-info-location .input {
    letter-spacing: 0.1em; }

.review-rating {
  display: flex;
  flex-direction: column; }

.review-info {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%; }
  .review-info > div:not(.review-price-range) {
    width: 100%; }

.review-header {
  margin: 0; }
  .review-header .review-header-info {
    margin: 0; }
  .review-header .review-header-info-name {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px; }
  .review-header .review-header-info-location {
    font-size: 1.1em;
    font-weight: 400; }

.review-ratings-total-title {
  font-size: 1.8em;
  font-weight: 600; }

.review-ratings-total-value {
  font-size: 3em;
  font-weight: 400; }

.review-rating-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase;
  margin-bottom: 1.5em; }
  @media screen and (min-width: 768px) {
    .review-rating-header {
      justify-content: space-between; } }
  .review-rating-header .review-rating-header-title {
    font-size: 1.5em;
    font-weight: 600; }
  .review-rating-header .review-rating-header-value {
    font-size: 2.5em;
    font-weight: 400; }

.review-rating-sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1em;
  margin-bottom: 1em; }
  .review-rating-sub-header .review-rating-sub-header-title {
    font-size: 1.3em;
    font-weight: 500; }
  .review-rating-sub-header .review-rating-sub-header-value {
    font-size: 2em;
    font-weight: 400; }

.review-info-title {
  text-transform: uppercase;
  font-size: 1.35em;
  margin-bottom: 0.5em;
  font-weight: 400; }

.review-info-comment {
  border-left: 2px solid #000;
  padding: 1em;
  margin-left: 1em;
  font-weight: 500; }

.review-comment-border {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 4em; }

.review-comment-border > div {
  width: 100%; }

.review-categories-list {
  list-style: none;
  display: flex;
  margin-bottom: 5px; }

.review-price ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  align-self: center; }

.add-review-rating-header {
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .add-review-rating-header {
      flex-direction: row; } }

.add-review-rating-sub-header {
  flex-direction: column;
  align-items: center;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .add-review-rating-sub-header {
      flex-direction: row;
      padding-left: 1em; } }

.articles-below-total {
  display: flex;
  flex-direction: column;
  width: 100%; }

.input-data {
  display: flex; }

.add-info {
  margin-bottom: 0.5em;
  align-items: center;
  width: 100%; }

.add-info-name {
  font-size: 1.5em;
  font-weight: 700; }

.add-info-place {
  font-size: 1em;
  font-weight: 500; }

.add-info-comment-container {
  width: 100%; }

.input-data-input {
  display: block;
  font-size: inherit !important;
  font-weight: inherit;
  padding: 0.5rem 1rem;
  max-width: calc(100% - 3rem);
  border-radius: 0; }
  .input-data-input::-webkit-input-placeholder {
    text-transform: capitalize; }
  .input-data-input:-moz-placeholder {
    text-transform: capitalize; }
  .input-data-input::-moz-placeholder {
    text-transform: capitalize; }
  .input-data-input:-ms-input-placeholder {
    text-transform: capitalize; }

.input-data-textarea {
  width: 100%;
  border-radius: 0; }

.add-rate {
  align-items: center;
  position: relative; }

.add-category {
  align-items: center;
  border: 2px solid #000;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0 5px 5px 0; }
  .add-category form {
    display: flex;
    align-items: center;
    justify-content: center; }
  .add-category .input {
    border: none;
    padding: 0 1em;
    font-weight: 700; }
    .add-category .input:active {
      outline: none;
      box-shadow: none; }
  .add-category .save-category-button {
    background-color: #000;
    color: #FFF;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    margin-left: 1rem; }

.remove-data {
  width: 26px;
  height: 26px;
  border-radius: 1000px;
  border: 2px solid red;
  position: relative;
  margin-left: 1rem;
  cursor: pointer; }

.remove-data-cross {
  width: 2px;
  height: 14px;
  background-color: red;
  position: absolute;
  border-radius: 5px;
  opacity: 0.8; }
  .remove-data-cross:hover {
    opacity: 1; }

.remove-data-cross:first-child {
  transform: translate(10px, 4px) rotate(45deg); }

.remove-data-cross:last-child {
  transform: translate(10px, 4px) rotate(-45deg); }

.not-found {
  height: calc(100vh - 3.5em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.not-found-container {
  background: #000;
  color: #FFF;
  padding: 5em;
  transform: skewX(-5deg);
  margin-bottom: 5em; }

.not-found-container h1 {
  margin: 0;
  font-size: 5em; }

.input-area {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .input-area {
      width: 50%; } }

.input-error {
  background-color: #b33a3a;
  transition: 0.5s all; }

.auth-error {
  background-color: #b33a3a;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1em;
  transition: 0.5s all ease-in-out;
  padding: 0;
  animation: auth-error 2s; }

.auth-error-active {
  padding: 1em;
  transition: 0.5s all ease-in-out;
  animation-iteration-count: infinite; }

@keyframes auth-error {
  0% {
    background-color: #b33a3a; }
  50% {
    background-color: rgba(179, 58, 58, 0.8); }
  100% {
    background-color: #b33a3a; } }

select, input {
  /* Minst 16px för att förhindra att Safari i iOS zoomar in */
  font-size: 16px; }

.input-border-bottom {
  border-bottom: none; }

.input-top {
  border-radius: 5px 5px 0 0; }

.input-bottom {
  border-radius: 0 0 5px 5px; }

.login-span {
  text-align: center;
  margin: 2em 0;
  padding: 1em 2em;
  background-color: #f5f5f5;
  border-radius: 10000px; }

.login-forgot-password a {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #000;
  text-decoration: none;
  position: relative; }
  .login-forgot-password a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.15s ease-in-out;
    transform-origin: 0 0;
    opacity: 0;
    transform: rotateX(90deg) translateY(3px); }
  .login-forgot-password a:hover:before {
    opacity: 1;
    transform: rotateX(0deg) translateY(3px); }

.login-or {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9em; }

.login-error {
  animation-name: loginError;
  animation-iteration-count: 1;
  animation-duration: 5s; }

.rating-button-text {
  display: flex;
  align-items: center; }

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); }

.no-reviews {
  padding: 2em; }
  .no-reviews > div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .no-reviews > div h1 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 2rem;
      text-align: center; }

.reviews-filter {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .reviews-filter .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0; }
    @media screen and (min-width: 768px) {
      .reviews-filter .container {
        flex-direction: row; } }
    .reviews-filter .container .reviews-filter-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      margin: 2em 0; }
      @media screen and (min-width: 768px) {
        .reviews-filter .container .reviews-filter-item {
          margin: 0; } }
      .reviews-filter .container .reviews-filter-item .title {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: 0.5em; }
      .reviews-filter .container .reviews-filter-item .buttons {
        display: flex; }
        .reviews-filter .container .reviews-filter-item .buttons .button-sort {
          margin: 0 0.5em;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .reviews-filter .container .reviews-filter-item .buttons .button-sort .reverse {
            transform: rotate(180deg);
            transition: 0.5s ease-in-out; }
          .reviews-filter .container .reviews-filter-item .buttons .button-sort .button-sort-arrow {
            width: 10px;
            height: 10px;
            margin-left: 1em;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-origin: 25% 50%;
            transition: 0.5s ease-in-out; }
            .reviews-filter .container .reviews-filter-item .buttons .button-sort .button-sort-arrow .arrow {
              width: 10px;
              height: 2px;
              background-color: #000;
              position: absolute; }
            .reviews-filter .container .reviews-filter-item .buttons .button-sort .button-sort-arrow .arrow-left {
              transform: translate(-6px, 0px) rotate(45deg); }
            .reviews-filter .container .reviews-filter-item .buttons .button-sort .button-sort-arrow .arrow-right {
              transform: translate(0px, 0px) rotate(-45deg); }
    .reviews-filter .container .reviews-filter-search .input {
      width: 100%; }

.review {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  min-height: 8em;
  position: relative; }

.review:not(:first-child) {
  margin-top: 1em; }

.review-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  color: #000; }

.review-restaurant-info {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: flex-start; }

.review-restaurant-name {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 10px; }

.review-score {
  font-size: 3em;
  font-weight: 300;
  position: relative;
  transform: translateY(12px); }

.review-categories {
  display: flex;
  list-style: none;
  flex-wrap: wrap; }

.review-category {
  margin: 0 5px 5px 0; }

.review-category, .review-restaurant-price {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: 2px solid #000;
  font-size: 0.9em;
  font-weight: 500;
  margin-right: 5px;
  letter-spacing: 0.05em; }

.review-restaurant-price {
  border: none;
  background-color: #000;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.1em; }

.review-price-range {
  border: 2px solid #000;
  text-transform: uppercase;
  background: none;
  padding: 0.5em 1em;
  min-width: 10em;
  margin: 2px 0;
  font-size: 1em;
  letter-spacing: 0.2em;
  background: #000;
  color: #FFF;
  text-align: center; }

.review-date {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5); }

.review-full {
  width: 100%;
  text-align: center;
  padding: 1em;
  background-color: #000;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  opacity: 0.65;
  transition: 0.15s ease-in-out; }
  .review-full:hover {
    opacity: 1; }

.account-fields {
  display: flex;
  flex-direction: column; }
  .account-fields .account-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0; }
    @media screen and (min-width: 768px) {
      .account-fields .account-field {
        align-items: flex-start; } }
    .account-fields .account-field .account-field-title {
      font-weight: 400;
      margin-bottom: 0.5em; }
    .account-fields .account-field .light {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 1em; }
    .account-fields .account-field .account-field-interactive {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media screen and (min-width: 768px) {
        .account-fields .account-field .account-field-interactive {
          flex-direction: row; } }
      .account-fields .account-field .account-field-interactive .input {
        margin-bottom: 1em;
        min-width: 30vw; }
        @media screen and (min-width: 768px) {
          .account-fields .account-field .account-field-interactive .input {
            margin-bottom: 0;
            margin-right: 1em; } }

.menu-icon {
  border: none; }

@keyframes loginError {
  0% {
    border-color: red; }
  80% {
    border-color: red; }
  100% {
    border-color: #000; } }

@media screen and (min-width: 768px) {
  .mobile-menu, .menu-icon {
    display: none !important; }
  .header-logo {
    margin-right: auto; } }
